@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}

@keyframes progress {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

.animate-spin {
	animation: spin 1s linear infinite;
}

.animate-progress {
	animation: progress 2s linear forwards;
	animation-play-state: running !important;
}
